[![imagenes](imagenes/pythonista.png)](https://pythonista.io)

# Funciones para tipos de datos.

## La función ```type()```.

La función ```type()``` regresa el tipo de dato o clase a la que pertenece un objeto el cual es ingresado como argumento con la siguiente sintaxis:

```
type(<objeto>)
```

**Ejemplos:**

* Las siguientes celdas utlizarán la función ```type()``` para conocer el tipo de datos del que se trata.

In [ ]:
type("Hola")

In [ ]:
type(b"Hola")

In [ ]:
type(12)

In [ ]:
type(12.)

In [ ]:
type(23j)

In [ ]:
type(True)

In [ ]:
type([1, 2, 3])

In [ ]:
type((1, 2, 3))

In [ ]:
type({1, 2, 3})

In [ ]:
type({'uno': '1'})

In [ ]:
type(None)

## La función ```int()```.

Esta función transforma un objeto compatible que es ingresado como argumento a un objeto tipo ```int```. 
 
La sintaxis es la siguiente:

```
int(<objeto>)
```

* Es posible convertir objetos de tipo ```str``` que representen correctamente a un número entero.
* Los objetos de tipo ```float``` son truncados en la parte entera. 
* ```True``` es convertido en ```1```.
* ```False``` es convertido en ```0```. 
* La función ```int()``` es compatible con objetos tipo ```complex```.

**Ejemplos:**

* La siguiente celda convertirá en un objeto ```int``` al objeto de tipo ```bool``` que se ingresa como argumento.

In [ ]:
int(True)

* El argumento de la siguiente celda contiene una representación correcta de un entero negativo, por lo que la función ```int()``` podrá realizar la conversión correctamente.

In [ ]:
int("-12")

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```int()``` no podrá realizar la conversión correctamente y regresará un error de tipo ```ValueError```.

In [ ]:
int("28.8")

In [ ]:
int(b"12")

* El argumento de la siguiente celda no contiene una representación correcta de un número entero, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
int('Hola')

* Los argumentos de las siguiente celdas contienen objetos tipo ```float```, por lo que la función ```int()``` truncará el valor a enteros.

In [ ]:
int(5.6)

In [ ]:
int(-5.3)

* Los argumentos de las siguientes celdas son objetos de tipo ```complex```, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
int(12 + 45.2j)

In [ ]:
int(-5j)

* El argumento de la siguiente celda es ```None```, el cual no puede ser representado por algún valor numérico, lo que desencadenará un error de tipo ```TypeError```.

In [ ]:
int(None)

## La función ```float()```. 

Transforma a un objeto de tipo compatible que se ingrese como argumento a uno de tipo ```float```.

La sintaxis es la siguiente:

```
float(<objeto>)
```

* Puede convertir objetos de tipo ```str``` que contengan una representación correcta a un número real.
* Es compatible con los objetos tipo ```int```.
* ```True``` es convertido en ```1.0```
* ```False``` es convertido en ```0.0```. 
* No es compatible con objetos tipo ```complex```.

**Ejemplos:**

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```float()``` podrá realizar la conversión correctamente.

In [ ]:
float("-12.6")

* El argumento de la siguiente celda no contiene una representación correcta de un número, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
float('Hola')

* El argumento de la siguiente celda es un objeto de tipo ```int```, por lo que la función ```float()``` será capaz de realizar la conversión.

In [ ]:
float(-5)

* El argumento de la siguiente celda es un objeto de tipo ```complex```, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
float(12.5 + 33j)

In [ ]:
float(False)

In [ ]:
float(None)

## La función ```complex()```.

Transforma a un objeto compatible a uno de tipo ```complex```.

* Convierte objetos de tipo ```str``` que contengan representen correctamente a un número real.
* Transforma en un objeto de tipo ```complex``` a un par de números ya sean ```int``` o ```float```. 
* Si sólo se da un número ```int``` o ```float```, este será identificado como el componente real y el componente complejo será ```0j```.

**Ejemplos:**

In [ ]:
complex(3.5, 2)

In [ ]:
complex(8.3)

In [ ]:
complex("23+5j")

In [ ]:
complex("23")

In [ ]:
complex("23 + 5j")

## La función ```bool()```.

Transforma en booleano a un objeto. 

* El ```0``` equivale a ```False```.
* El valor```None``` equivale a ```False```.
* Una colección vacía equivale a ```False``
* Cualquier otra cosa distinta es ```True```.
*

**Ejemplos:**

In [ ]:
bool(-3)

In [ ]:
bool(2)

In [ ]:
bool((12, 4, 78))

In [ ]:
bool("Hola")

In [ ]:
bool("0")

In [ ]:
bool(0)

In [ ]:
bool("")

In [ ]:
bool({})

In [ ]:
bool(None)

## La función ```str()```.

Transforma a un objeto que es ingresados como argumento en una cadena de caracteres de tipo ```str````.

La sintaxis es la siguiente:

```
str(<objeto>)
```

Prácticamente todos los objetos pueden ser transformados en una cadena de caracteres.

**Ejemplos:**

* Las siguientes celdas transformarán un objeto a ```str```.

In [ ]:
str(True)

In [ ]:
str(12 + 3.5j)

In [ ]:
str({'nombre': 'Juan'})

In [ ]:
str(b'Saludos')

## La función ```bytes()```.

In [ ]:
bytes('Saludos', encoding='utf-8')

In [ ]:
bytes(6)

In [ ]:
bytes(True)

In [ ]:
bytes(False)

In [ ]:
bytes(-1.4)

In [ ]:
bytes(12 + 3.5j)

In [ ]:
bytes({'nombre': 'Juan'})

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>