[![imagenes](imagenes/pythonista.png)](https://pythonista.io)

# Colecciones.

Las colecciones son tipos cuyos objetos son capaces de contener a otros objetos.

Python 3 cuenta con los siguientes tipos de colecciones.

* ```str```.
* ```bytes```.
* ```bytearray```.
* ```list```.
* ```tuple```.
* ```dict```.
* ```set```.
* ```frozenset```.

**NOTA:** En este capítulo sólo se describirán los tipos enumerados previamente, pero cada uno de estos tipos será estudiado a fondo en capítulos posteriores.

## Mutablidad e inmutabilidad.

Un objeto es mutable si es posible modificar o eliminar los elementos que contiene.

### Tipos mutables.

Las colecciones ```list```, ```dict```, ```bytearray``` y ```set``` son mutables, ya que es posible modificar o eliminar los elementos que contienen.

### Tipos inmutables.

Los tipos ```int```, ```float```, ```complex``` y ```bool``` son inmutables ya que representan valores.

Las colecciones ```str```, ```bytes```, ```tuple``` y ```frozenset``` son inmutables.

## El tipo ``` str```.

Las cadenas de caracteres son colecciones ordenadas, inmutables e indexables numéricamente. 

El tipo más común de cadenas de caracteres es ```str```, el cual se define encerrando el texto entre comillas   ```"``` o apóstrofes ```'```. 

Cualquiera de las siguientes sintaxis es válida:

```
"<texto>"
'<texto>'
```

Python 3 soporta por defecto los caracteres definidos en la codificación [*UTF-8*](https://es.wikipedia.org/wiki/UTF-8) de [*Unicode*](https://home.unicode.org/).

**Ejemplos:**

In [ ]:
'Hola Mundo'

In [ ]:
"Vamos al McDonald's"

In [ ]:
'Kurt Friedrich Gödel'

* La siguiente celda, definirá a un objeto ```str``` vacío.

In [ ]:
''

## El tipo ```bytes```.

El tipo ```bytes``` es una colección ordenada, inmutable  e indexable numéricamente de caracteres [*ASCII*](http://www.asciitable.com/), que corresponden a un valor numérico que va de ```0``` a ```255```. 

El contenido de este tipo de caracteres se encierra entre apóstrofes y comillas, pero se antecede una letra ```b``` al principio del objeto.


Cualquiera de las siguientes sintaxis es válida:

```
b"<texto>"
b'<texto>'
```

**Ejemplos:**

* Las siguiente celdas son ejemplos correctos de objetos tipo ```bytes```.

In [ ]:
b'Hola'

* La siguiente celda, definirá a un objeto ```bytes``` vacío.

In [ ]:
b''

* La siguiente celda define a un objeto tipo ```bytes``` que incluye un caracter inexistente en la tabla del código *ASCII* , lo cual desencadenará un error de tipo ```SyntaxError```.

In [ ]:
b'Kurt Friedrich Gödel'

## El tipo ```bytearray```.

El tipo ```bytearray``` es una colección ordenada, mutable e indexable numéricamente de caracteres *ASCII*, el cual es creado a partir de una objeto detipo ```bytes``` mendiante la función ```bytearray()``` usando la siguiente sintaxis:

```
bytearray(<objeto tipo bytes>)
```

**Ejemplo:**

* La siguiente celda crear;a un objeto de tipo ```bytearray``` a partir del objeto ```b'hola'```.

In [ ]:
bytearray(b'hola')

## El tipo ```list```.

Los objetos tipo ```list``` son colecciones ordenadas de objetos, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
[<objeto 1>, <objeto 2>, ..., <objeto n>] 
```

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```list``` válidos.

In [ ]:
[1, 2, "tres", True, None]

In [ ]:
[None]

* La siguiente celda define a un objetos tipo ```list``` que a su vez contiene a otro objeto de tipo ```list```.

In [ ]:
[False, ['auto', 30, 'gasolina'], 73.12]

* La siguiente celda define a un objeto tipo ```list``` vacío.

In [ ]:
[]

## El tipo ```tuple```.

Los objetos tipo ```tuple``` son colecciones ordenadas de objetos, los cuales son indexables numéricamente e inmutables.

Se definen encerrando entre paréntesis ```(``` ```)``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
(<objeto 1>, <objeto 2>, ..., <objeto n>) 
```

**Ejemplos:**

* Las siguientes celdas también definen objetos tipo ```tuple``` válidos.

In [ ]:
(1, 2, "tres", True, None)

* La siguiente celda define a un objetos tipo ```tuple``` que a su vez contiene a otro objeto de tipo ```list```.

In [ ]:
(False, ['auto', 30, 'gasolina'], 73.12)

* La siguiente celda define a un objeto tipo ```tuple``` vacío.

In [ ]:
()

**NOTA:** 

Un objeto de tipo ```tuple``` que solo contiene un elemento ```None``` se convierte en ```None```.

In [ ]:
(None)

Para crear un objeto ```tuple``` que contenga un elemento ```None```, se debe de poner una coma ```,``` al final.

In [ ]:
(None,)

### El tipo ```dict```.

El tipo ```dict``` es una colección mutable de pares ```<clave>:<valor>```, el cual es indexable mediante la clave de cada elemento.
    
Los pares están separados por comas ```,``` y delimitados por llaves ```{``` ```}```.

La sintaxis para definir un objeto tipo ```dict``` es: 

```
{<clave 1>:<valor 1>, <clave 2>:<valor 2>, ... , <clave n>:<valor n>} 
```

* La clave, a la cual también se le referirá como "identificador", debe de ser de algún tipo inmutable y único dentro del objeto tipo ```dict```. 
* El valor puede ser un objeto de cualquier tipo y puede repetirse dentro del objeto de tipo ```dict```.

**NOTA:** A partir de Python 3.7, los objetos de tipo ```dict``` respetan el orden en el que los elementos son ingresados, aun cuando no son indexables numéricamente. Las versiones previas de Python no necesariamente lo respetan.

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```dict``` válidos.

In [ ]:
{'nulo':None, True:'V', 2:[1, 2, 3], '2':False, ('x', 'y'): 15.3}

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}

* La siguiente celda define un objeto tipo ```dict``` vacio.

In [ ]:
{}

* La siguiente celda definen un objeto tipo ```dict``` que repite un par con la clave ```nombre```. El último par es el que será conservado.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5, 'nombre':'Laura'}

* La siguiente celda define a un objeto tipo ```dict``` ingresando como identificador al objeto ```[True, 1]``` de tipo ```list```el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{'nombre':'Juan', 'apellido': 'Pérez', [True, 1]:7.5}

## El tipo ```set```.

Los objetos de tipo ```set``` son colecciones de objetos capaces de realizar operaciones de conjuntos. Aún cuando los objetos ```set``` son mutables, los elementos contenidos en ellos son únicos e inmutables. 

Los objetos de tipo ```set``` se definen encerrando entre llaves ```{``` ```}``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
{<objeto 1>,<objeto 2>, ..., <objeto n>} 
```

En caso de que se definan varios elementos del mismo valor, sólo se conservará uno.

**NOTA:** Los objetos de tipo ```set``` no respetan necsariamente el orden en el que los elementos son ingresado.

**Ejemplos:**

* Las siguientes celdas definen objetos tipo ```set``` válidos.

In [ ]:
{False, ('auto', 30, 'gasolina'), 73.12}

* La siguiente celda define un objeto tipo ```set``` que incluye varios elementos de valor numérico equivalente a ```3``` aún cuando no son del mismo tipo y también se incluye el objeto ```'3'```, el cual no es un valor numérico, sino un caracter.

In [ ]:
{3, 2, True, None, 0, False, 3.0, 5, 3., '3', 'Hola', 3, 3, 1}

* En la siguiente celda se define un objeto de tipo ```set``` en donde ```1``` y  ```True``` tienen el mismo valor aunque no son del mismo tipo. En este caso, se desecha uno de estos objetos.

In [ ]:
{1, 2, "tres", True, None}

* La siguiente celda define a un objeto de tipo ```set``` que incluye a un objeto de tipo ```list```, el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{False, ['auto', 30, 'gasolina'], 73.12}

* La siguiente celda define a un objeto de tipo ```set``` que incluye a un objeto de tipo ```dict```, el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
{None, {'uno':1, 'dos': 2}}

### La función ```set()```.

Esta función es capaz de transformar una colección en un objeto tipo ```set```.

```
set(<colección>)
```

**Ejemplo:**

In [ ]:
set('Caracoles')

In [ ]:
set([1, 2, 3, 5, 67, 8, 8, 6])

## El tipo ```frozenset```.

Los objetos tipo ```frozenset``` son conjuntos inmutables de objetos únicos.  

Este tipo de objetos sólo puede contener objetos inmutables.

Se definen utilizando la función  ```frozenset()``` e ingresando una colección como argumento.

La sintaxis es la siguiente:

```
frozenset(<colección>) 
```

* La función ```frozenset()``` puede aceptar los siguientes tipos de objetos, siempre y cuando contengan exclusivamente objetos inmutables.

    * ```set```.
    * ```list```.
    * ```tuple```.
    * En el caso de los objetos de  ```dict```, se toma exclusivamente a las claves para formar el objeto.
    * En el caso de los objetos de tipo ```str``` y ```bytes```, cada caracter de la cadena se vuelve un elemento separado.
    
**NOTA:** Los objetos de tipo ```frozenset``` no necesariamente respetan el orden en el que los elementos son ingresados.

**Ejemplos:**

* La siguiente celda separará cada caracter del objeto  ```'Caracoles'``` y creará un conjunto de caracteres únicos.

In [ ]:
frozenset('Caracoles')

* La siguiente celda separará cada caracter del objeto  ```b'Caracoles'``` y creará un conjunto de valores enteros únicos. Cada valor corresponde a la posición de cada caracter en el código ASCII.

In [ ]:
frozenset(b'Caracoles')

* La siguiente celda creará un objeto ```frozenset``` a partir de un objeto de tipo ```list```.

In [ ]:
frozenset([1, 2, 3])

* La siguiente celda creará un objeto ```frozenset``` a partir de un objeto de tipo ```tuple```.

In [ ]:
frozenset((1, 2, 3))

* La siguiente celda creará un objeto ```frozenset``` a partir de un objeto de tipo ```dict```.

In [ ]:
frozenset({1, 2, 3})

* La siguiente celda creará un objeto ```frozenset``` a partir de un objeto de tipo ```dict```. En este caso las claves serán las que conformen el nuevo objeto.

In [ ]:
frozenset({'nombre': 'Juan', 'apellido': 'Pérez'})

* La siguiente celda define un objeto de tipo ```frozenset``` vacío.

In [ ]:
frozenset({})

* La siguiente celda contiene al elemento ```['auto', 30, 'gasolina']``` de tipo ```list``` el cual es mutable, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
frozenset((False, ['auto', 30, 'gasolina'], 73.12))

* La siguiente celda no contiene a una colección sino a una secuencia de elementos, por lo que se desencadenará un error de tipo ```TypeError```.

In [ ]:
frozenset(False, 'auto', 30, 'gasolina', 73.12)

## Indexado de colecciones.

Los siguientes tipos de colecciones permiten identificar a uno o a un rango de elementos mediante un índice.

* ```str```.
* ```bytes```.
* ```bytearray```.
* ```list```.
* ```tuple```.
* ```dict```.

Dependiendo del tipo de colección, el índice puede ser un número entero, un rango numérico o una clave. El índice se denota delimitándolo entre corchetes ```[``` ```]``` y colocándolo a la derecha del objeto del cual se extraerá el o los elemento.

La sintaxis es la siguiente:

```
<colección>[<número entero, clave o rango>]
```

### Indexado numérico.

Los tipos con indexado numérico identifican a cada elemento que contienen mediante un número entero de 2 formas:

* índices positivos:  En los que el primer elemento del extremo izquierdo tiene el índice ```0```, el elemento a su derecha tiene el índice ```1``` y así sucesivamente en incrementos de uno  en uno hasta llegar al elemento del extremo derecho.
* Índices negativos: En los que el primer elemento del extremo derecho tiene el índice ``-1``, el elemento a su izquierda tiene el índice ```-2``` y así sucesivamente en decrementos de uno en uno hasta llegar al elemento del extremo izquierdo.

Este tipo de indexado es propio de los tipos:

* ```str```.
* ```bytes```.
* ```bytearray```.
* ```list```.
* ```tuple```.

Si el índice sobrepasa el tamaño del objeto, se desencadenará un error de tipo ```IndexError```.

**Ejemplos:**

* La siguiente celda obtendrá el caracter ```'l'``` del objeto ```'saludo'```, cuyo índice corresponde al índice ```2```.

In [ ]:
'saludo'[2]

* La siguiente celda obtendrá el número ```108```, a partir del objeto ```b'saludo'```. Dicho número corresponde al valor del caracter ```l``` en la tabla de código *ASCII*. El índice corresponde al índice ```-4```.

In [ ]:
b'saludo'[-4]

* La siguiente celda pide un índice fuera de rango y desecadenará un error de tipo ```IndexError```.

In [ ]:
'saludo'[10]

* La siguientes celdas ejemplificarán el uso del indexado numérico en objetos tipo ```list``` al que se le asignará el nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4]

* La siguiente celda regresará al objeto ```2``` cuyo índice es ```1```.

In [ ]:
lista[1]

* La siguiente celda regresará al objeto ```1``` cuyo índice es ```-4```.

In [ ]:
lista[-4]

* La siguientes celdas ejemplifican el uso del indexado numérico en objetos tipo ```tuple``` al que se le asignará el nombre ```tupla```.

In [ ]:
tupla = (1, [4, True, None, 'Saludo'], 6, 22.5)

* La siguientes celda regresará al objeto```4```, el cual corresponde al índice ```0``` del objeto   ```tupla```.

In [ ]:
tupla[0]

* La siguientes celda regresará al objeto```[4, True, None, 'Saludo']```, el cual corresponde al índice ```-3``` del objeto   ```tupla```.

In [ ]:
tupla[-3]

* La siguientes celdas ejemplifican el uso del indexado numérico en objetos tipo ```bytearray``` al que se le asignará el nombre ```arreglo``` creado a partir de ```b'saludo'```.

In [ ]:
arreglo = bytearray(b'saludo')

* La siguiente celda obtendrá el número ```117```, a partir del objeto ```arreglo```. Dicho número corresponde al valor del caracter ```u``` en la tabla de código *ASCII*, correspondiente al índice ```3```.

In [ ]:
arreglo[3]

### Indexado mediante la clave en los objetos de tipo ```dict```.

Los objetos de tipo ```dict``` no cuentan con índices numéricos. En su defecto, es posible obtener un valor mediante su clave correspondiente.

```
<objeto dict>[<clave>]
```

Si la clave que se ingresa no existe, se desencadenará un error de tipo ```KeyError```.

**Ejemplo:**

* La siguiente celda definirá al objeto ```persona```, el cual contiene las claves:
    * ```'nombre'```.
    * ```'primer apellido'```.
    * ```'promedio'```.
    * ```True```.

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio':7.8, True:'V'}

* La siguiente celda regresará el objeto ```7.8``` correspondiente a la clave ```'promedio'``` del objeto ```persona```.

In [ ]:
persona['promedio']

* La siguiente celda regresará el objeto ```'Juan'``` correspondiente a la clave ```'nombre'``` del objeto ```persona```.

In [ ]:
persona['nombre']

* La siguiente celda regresará el objeto ```'V'``` correspondiente a la clave ```True``` del objeto ```persona```.

In [ ]:
persona[True]

* La siguiente celda hace referencia a la clave ```'indefinido'```, la cual no existe en el objeto ```persona``` lo que desencdenará unn error de tipo ```KeyError```.

In [ ]:
persona['indefinido']

###  Indíces anidados.

En el caso de que un elemento seleccionado dentro de una colección indexables también sea una colección indexable, es posible realizar una indexación anidada colocando el índice a la derecha del índice superior.

```
<colección>[<índice 1>][<índice 2>]...[<índice n>]
```

**Ejemplos:**

* A continuación se definirá a un objeto de tipo ```tuple``` con el nombre ```tupla``` el cual contiene a un elemento de tipo ```list``` en el índice ```1```,  el cual a su vez contiene a un elemento de tipo ```str``` en su índice ```3```.

In [ ]:
tupla = (1, [4, True, None, 'Saludo'], 6, 22.5)

* La siguiente celda regresará al objeto ```[4, True, None, 'Saludo']``` a partir de ```tupla[1]```.

In [ ]:
tupla[1]

* La siguiente celda regresará al objeto ```'Saludo'``` a partir de ```tupla[1][3]```.

In [ ]:
tupla[1][3]

* La siguiente celda regresará al cracter ```'l'``` a partir de ```tupla[1][3][2]```.

In [ ]:
tupla[1][3][2]

* A continuación se definirá al objeto de tipo ```dict```  con el nombre ```persona```.

In [ ]:
persona = {'nombre': 'Juan', 'primer apellido': 'Pérez', 'promedio':7.8}

* La siguiente celda obtendrá al objeto ```'Pérez'``` a partir de ```persona['primer apellido']```.

In [ ]:
persona['primer apellido']

* La siguiente celda obtendrá al caracter ```'é'``` a partir de ```persona['primer apellido'][-4]```.

In [ ]:
persona['primer apellido'][-4]

### Indexado de elementos por rangos numéricos.

Las colecciones con índices numéricos como ```tuple```, ```list```, ```str```, ```bytearray``` y ```bytes``` permiten indexar rangos de elementos con la siguiente sintaxis.

```
<colección>[<m>:<n>:<i>]
```

Donde:

* ```<m>``` es el índice inicial.
* ```<n>``` es el índice final.
* ```<i>``` es un número entero que indica los incrementos (si es positivo) o decrementos (si es negativo).

El resultado será un nuevo objeto del mismo tipo que el original incluyendo los elementos comprendidos entre el índice inicial y uno antes que el índice final en los incrementos o decrementos indicados. A esto se le conoce como "rebanado".

* Si no se indica un número de incremento/decremento, el número será igual a ```1```.
* En caso de que se indiquen incrementos:
   * El índice inicial debe de ser menor que el índice final.
   * Si no se indica un índice inicial, el rango empieza desde el índice ```0```.
   * Si no se indica un índice final, el rango termina con el último elemento contenido.
* En caso de que se indiquen decrementos:
   * El índice inicial debe de ser mayor que el índice final.
   * Si no se indica un índice inicial, el rango empieza desde el índice del último elemento contenido.
   * Si no se indica un índice final, el rango termina en el primer elemento.
* Si no se indica ningún índice y sólo se colocan los dos puntos ```:```, se hará un rebanado completo del objeto.
* Los índices pueden ser superiores al tamaño de la colección.
* Si el rango no tiene sentido, se regresará una colección vacía.

**Ejemplos:**

* Para ilustrar el uso del rebanado se creara el objeto ```lista``` de tipo ```list```.

In [ ]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8]

* La siguiente celda regresará un objeto tipo ```list``` con los elementos con índices que van de  ```0``` a antes de ```6``` en incrementos de ```2```.

In [ ]:
lista[0:6:2]

* La siguiente celda regresará un objeto tipo ```list``` con los elementos con índices que van de  ```6``` a antes de ```0``` en decrementos de ```-2```.

In [ ]:
lista[6:0:-2]

* La siguiente celda regresará un objeto tipo ```list``` vacío en vista de que el rango no tiene sentido.

In [ ]:
lista[0:6:-2]

* La siguiente celda regresará un objeto tipo ```list``` con los elementos con índices ```2``` a ```4```.

In [ ]:
lista[2:5]

* La siguiente celda regresará un objeto tipo ```list``` con el elemento con índice ```8```, en vista de que ese el último elemento del objeto ```lista```.

In [ ]:
lista[8:25]

* La siguiente celda regresará un objeto tipo ```list``` con los elementos con índices ```-2``` y ```-1```.

In [ ]:
lista[-2:25]

* Las siguientes celdas indican rangos impropios y regresan un objeto ```list``` vacío.

In [ ]:
lista[-2:3]

In [ ]:
lista[5:3]

* La siguiente celda traerá los caracteres que van del inicio a uno antes de índice ```8``` en incremementos de ```3``` a partir del objeto ```"Polimorfismo"```.

In [ ]:
"Polimorfismo"[:8:3]

* La siguiente celda traerá los caracteres que van del final a uno antes de índice ```3``` en decremementos de ```-1``` a partir del objeto ```"Polimorfismo"```.

In [ ]:
"Polimorfismo"[:3:-1]

* La siguiente celda realizará un rebanado completo de un objeto tipo ```tuple```.

In [ ]:
(0,1,2,3,4,5)[:]

* La siguiente celda realizará un rebanado completo de un objeto de tipo ```tuple```, pero en sentido inverso.

In [ ]:
(0,1,2,3,4,5)[::-1]

* A continuación se hará un rebanado completo del objeto ```lista``` el cual regresará un objetos nuevo al que se le asignará el nombre ```nueva_lista```

In [ ]:
nueva_lista = lista[:]

* Los objetos ```lista``` y ```nueva_lista``` comparten el contenido, pero son objetos distintos.

In [ ]:
nueva_lista

In [ ]:
id(lista)

In [ ]:
id(nueva_lista)

## La función ```len()```.

Esta función permite conocer el número de elementos (el tamaño) que contiene una colección.

Sintaxis:

```
len(<colección>)
```

**Ejemplos:**

* Las siguientes celdas regresarán el tamaño de cada objeto que es ingresado como argumento.

In [ ]:
len('Hola')

* En el siguiente caso, el objeto ```[3, 4 , 6]``` cuenta como un solo elemento.

In [ ]:
len([1, 2, [3, 4 , 6], None])

* La siguiente celda regresará ```0```, en vista de que el objeto ```dict``` está vacío.

In [ ]:
len({})

* A continuación se creará el objeto ```dict``` con nombre ```persona```, el cual tiene un tamaño igual a ```3```, debido a que contiene 3 pares ```<clave>:<valor>```.

In [ ]:
persona = {'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}

In [ ]:
len(persona)

## La función ```max()```.

Esta función permite conocer el elemento de mayor valor dentro de una colecc;ón cuando estos valores sean comparables.

Sintaxis:

```
max(<colección>)
```

En el caso de que se trate de un objeto de tipo ```dict``` esta función se aplicará sobre las claves de los pares contenidos en el objeto.

En caso de que los valores no puedan ser comparados se generará un error de tipo ```TypeError```.

**Ejemplos:**

* La siguiente celda regresará al caracter de mayor valor en la tabla de caracteres del objeto ```'hola'```.

In [ ]:
max('hola')

* La siguiente celda regresará el número correspondiente al caracter de mayor valor en la tabla del código *ASCII* del objeto ```'hola'```.

In [ ]:
max(b'hola')

* La siguiente celda regresará al elemento  de mayor valor dentro del objeto de tipo ```tuple```.

In [ ]:
max((2, 1024, 13.6))

* La siguiente celda creará al objeto de tipo ```dict``` con nombre ```persona``` y regresará al nombre de mayor valor. En este caso buscará el mayor valor a partir del primer caracter de cada nombre.

In [ ]:
persona = {'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}
max(persona)

* La siguiente celda aplicará la función ```max()``` a un objeto de tipo ```tuple``` cuyos elementos no pueden ser comparados y se generará un  error de tipo ```TypeError```.

In [ ]:
max((2, 1024, 13.6, 12j))

## La función ```min()```.

Esta función permite conocer el elemento de menor valor dentro de una colecc;ón cuando estos valores sean comparables.

Sintaxis:

```
min(<colección>)
```

En el caso de que se trate de un objeto de tipo ```dict``` esta función se aplicará sobre las claves de los pares contenidos en el objeto.

En caso de que los valores no puedan ser comparados se generará un error de tipo ```TypeError```.

**Ejemplos:**

* La siguiente celda regresará al caracter de menor valor en la tabla de caracteres del objeto ```'hola'```.

In [ ]:
min('hola')

* La siguiente celda regresará el número correspondiente al caracter de menor valor en la tabla del código *ASCII* del objeto ```'hola'```.

In [ ]:
min(b'hola')

* La siguiente celda regresará al elemento  de menor valor dentro del objeto de tipo ```tuple```.

In [ ]:
min((2, 1024, 13.6))

* La siguiente celda creará al objeto de tipo ```dict``` con nombre ```persona``` y regresará al nombre de menor valor. En este caso buscará el menor valor a partir del primer caracter de cada nombre.

In [ ]:
persona = {'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}
min(persona)

* La siguiente celda aplicará la función ```min()``` a un objeto de tipo ```list``` cuyos elementos no pueden ser comparados y se generará un  error de tipo ```TypeError```.

In [ ]:
min([2, 1024, 13.6, 12j])

## La función ```sorted()```.

Esta función regresa un objeto de tipo ```list``` que contiene los elementos de la colección que se ingresa como primer argumento ordenándolos de menor a mayor.

Sintaxis:

```
sorted(<colección>, reverse=<booleano>)
```

El parámetro ```reverse``` indica a la función ```sorted()``` si va a regresar los elementos en orden inverso. Su valor por defecto es ```False```.

En el caso de que la colección se trate de un objeto de tipo ```dict``` esta función se aplicará sobre las claves de los pares contenidos en el objeto.

En caso de que los valores no puedan ser comparados se generará un error de tipo ```TypeError```.

**Ejemplos:**

* La siguiente celda regresará una lista ordenada de menor a mayor de los caracteres contenidos en el objeto ```'calle'```.

In [ ]:
sorted("calle")

* La siguiente celda regresará una lista ordenada de menor a mayor de los valoers de los caracteres *ASCII* contenidos en el objeto ```b'calle'```.

In [ ]:
sorted(b"calle")

* La siguiente celda regresará una lista ordenada de menor a mayor de los elementos contenidos en el objeto ```[6, 8, 9, 24, 11, False]```.

In [ ]:
sorted([6, 8, 9, 24, 11, False])

* La siguiente celda regresará una lista ordenada de menor a mayor de las claves contenidas en el objeto ```persona```.

In [ ]:
persona = {'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}
sorted(persona)

* La siguiente celda regresará una lista ordenada de menor a mayor de los elementos contenidss en el objeto ```{23, 2, 2, 0, False}```.

In [ ]:
sorted({23, 2, 2, 0, False})

* La siguiente celda regresará una lista ordenada de mayor a menor de los elementos contenidss en el objeto ```{23, 2, 2, 0, False}```.

In [ ]:
sorted({23, 2, 2, 0, False}, reverse=True)

* La siguiente celda intentará aplicar la función ```sorted()``` a una colecci;on que contiene elementos que no se peuden comparar. Se generará unerror de tipo ```TypeError```.

In [ ]:
sorted({'hola', 3, False})

## La función ```sum()```.

Esta función regresa la suma de todos los elementos contenidos en una colección que se ingresa como argumento.

Sintaxis:

```
sum(<colección>)
```


En el caso de que la colección se trate de un objeto de tipo ```dict``` esta función se aplicará sobre las claves de los pares contenidos en el objeto.

En caso de que los valores no puedan ser sumados se generará un error de tipo ```TypeError```.

**Nota:** La función ```sum()``` no puede ser utilizada en objetos de tipo ```str```. En caso de usarla de ese modo, se egenrará un error de tipo ```TypeError```.

**Ejemplos:**

* Las siguientes celdas regresarán al suma de sus elementos.

In [ ]:
sum((1, 45, 11, False))

In [ ]:
sum(b"Hola")

* La siguiente intentará aplicar la función ```sum()``` a un objeto de tipo ```str```, lo que generará un error de tipo ```TypeError```.

In [ ]:
sum("Hola")

* La siguiente intentará aplicar la función ```sum()``` a claves que no pueden ser sumadas, lo que generará un error de tipo ```TypeError```.

In [ ]:
persona = {'nombre':'Juan', 'apellido': 'Pérez', 'promedio':7.5}
sum(persona)

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2019.</p>