[![imagenes](imagenes/pythonista.png)](https://pythonista.io)

# Funciones para tipos de datos.

## La función ```type()```.

La función ```type()``` regresa el tipo de dato o clase a la que pertenece un objeto el cual es ingresado como argumento con la siguiente sintaxis:

```
type(<objeto>)
```

**Ejemplos:**

* Las siguientes celdas utlizarán la función ```type()``` para conocer el tipo de datos del que se trata.

* La siguiente celda desplegará el tipo al que pertence el objeto  ```"Hola"```, el cual corresponde a ```str```.

In [ ]:
type("Hola")

* La siguiente celda desplegará el tipo al que pertence el objeto  ```b"Hola"```, el cual corresponde a ```bytes```.

In [ ]:
type(b"Hola")

* La siguiente celda desplegará el tipo al que pertence el objeto  ```12```, el cual corresponde a ```int```.

In [ ]:
type(12)

* La siguiente celda desplegará el tipo al que pertence el objeto  ```12.```, el cual corresponde a ```float```.

In [ ]:
type(12.)

* La siguiente celda desplegará el tipo al que pertence el objeto  ```23j```, el cual corresponde a ```complex```.

In [ ]:
type(23j)

* La siguiente celda desplegará el tipo al que pertence el objeto  ```True```, el cual corresponde a ```bool```.

In [ ]:
type(True)

* La siguiente celda desplegará el tipo al que pertence el objeto  ```[1, 2, 3]```, el cual corresponde a ```list```.

In [ ]:
type([1, 2, 3])

* La siguiente celda desplegará el tipo al que pertence el objeto  ```(1, 2, 3)```, el cual corresponde a ```tuple```.

In [ ]:
type((1, 2, 3))

* La siguiente celda desplegará el tipo al que pertence el objeto  ```{1, 2, 3}```, el cual corresponde a ```set```.

In [ ]:
type({1, 2, 3})

* La siguiente celda desplegará el tipo al que pertence el objeto  ```{'uno': '1'}```, el cual corresponde a ```dict```.

In [ ]:
type({'uno': '1'})

* La siguiente celda desplegará el tipo al que pertence el objeto  ```None```, el cual corresponde a ```NoneType```.

In [ ]:
type(None)

## La función ```int()```.

Esta función transforma un objeto compatible que es ingresado como argumento a un objeto tipo ```int```. 
 
La sintaxis es la siguiente:

```
int(<objeto>)
```

Donde: 

* ```<objeto>```es el objeto que será convertido a un objeto de tipo ````ìnt```.

### Particularidades.

* Es posible convertir objetos de tipo ```str``` que representen correctamente a un número entero.
* Los objetos de tipo ```float``` son truncados en la parte entera. 
* ```True``` es convertido en ```1```.
* ```False``` es convertido en ```0```. 
* La función ```int()``` no es compatible con objetos tipo ```complex```, lo que originará un error de tipo ```TypeError```.
* La función ```int()``` no es compatible con ```None```, lo que originará un error de tipo ```TypeError```.

**Ejemplos:**

* La siguiente celda convertirá en un objeto ```int``` al objeto de tipo ```bool``` que se ingresa como argumento.

In [ ]:
int(True)

* El argumento de la siguiente celda contiene una representación correcta de un entero negativo, por lo que la función ```int()``` podrá realizar la conversión correctamente.

In [ ]:
int("-12")

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```int()``` no podrá realizar la conversión correctamente y regresará un error de tipo ```ValueError```.

In [ ]:
int("28.8")

In [ ]:
int(b"12")

* El argumento de la siguiente celda no contiene una representación correcta de un número entero, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
int('Hola')

* Los argumentos de las siguiente celdas contienen objetos tipo ```float```, por lo que la función ```int()``` truncará el valor a enteros.

In [ ]:
int(5.6)

In [ ]:
int(-5.3)

* Los argumentos de las siguientes celdas son objetos de tipo ```complex```, por lo que la función ```int()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
int(12 + 45.2j)

In [ ]:
int(-5j)

* El argumento de la siguiente celda es ```None```, el cual no puede ser representado por algún valor numérico, lo que desencadenará un error de tipo ```TypeError```.

In [ ]:
int(None)

## La función ```float()```. 

Transforma a un objeto de tipo compatible que se ingrese como argumento a uno de tipo ```float```.

La sintaxis es la siguiente:

```
float(<objeto>)
```

Donde: 

* ```<objeto>```es el objeto que será convertido a un objeto de tipo ```float```.

### Particularidades.

* Puede convertir objetos de tipo ```str``` que contengan una representación correcta a un número real.
* Es compatible con los objetos tipo ```int```.
* ```True``` es convertido en ```1.0```
* ```False``` es convertido en ```0.0```. 
* La función ```float()``` no es compatible con objetos tipo ```complex```, lo que originará un error de tipo ```TypeError```.
* La función ```float()``` no es compatible con ```None```, lo que originará un error de tipo ```TypeError```.

**Ejemplos:**

* El argumento de la siguiente celda contiene una representación correcta de un número real, por lo que la función ```float()``` podrá realizar la conversión correctamente.

In [ ]:
float("-12.6")

* El argumento de la siguiente celda no contiene una representación correcta de un número, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```ValueError```.

In [ ]:
float('Hola')

* El argumento de la siguiente celda es un objeto de tipo ```int```, por lo que la función ```float()``` será capaz de realizar la conversión.

In [ ]:
float(-5)

* El argumento de la siguiete celda es ```False```, por lo que la función ```float()``` dará por resutado ```0.0```.

In [ ]:
float(False)

* El argumento de la siguiete celda es ```None```, por lo que la función ```float()``` originará un error de tipo ```TypeError```.

In [ ]:
float(None)

* El argumento de la siguiente celda es un objeto de tipo ```complex```, por lo que la función ```float()``` será incapaz de realizar la conversión y desencadenará un error de tipo ```TypeError```.

In [ ]:
float(12.5 + 33j)

## La función ```complex()```.

Transforma a un objeto compatible a uno de tipo ```complex```  y puede ser usada con las siguientes sintaxis:

### Ingresando pares numéricos como argumentos.

```
complex(<real>, <imaginario>)
```
Donde:

* ```<real>``` corresponde al primer argumento que se ingresa a la función ```complex()``` y puede ser un objeto de tipo ```int```, ```float``` e incluso ```bool```. Este será usado como el componente real del número complejo.
* ```<imaginario>``` corresponde al segundo argumento que se ingresa a la función ```complex()``` y puede ser un objeto de tipo ```int```, ```float``` e incluso ```bool```. Este será usado como el componente imaginario del número complejo. Su valor por defecto es ```0```.


### Ingresando una cadena de caracteres como argumento.

```
complex(<cadena>)
```
Donde:

* ```<cadena>``` corresponde a un objetos de tipo ```str``` que contenga una representación correcta de un número ```complex```.

**Ejemplos:**

* Las siguientes celdas definen argumentos numéricos para la función ```complex()```.

In [ ]:
complex(3.5, 2)

In [ ]:
complex(8.3)

In [ ]:
complex(False)

In [ ]:
complex(True)

In [ ]:
complex(True, True)

* Las siguientes celdas definen argumentos de tipo ```str``` cuyos contenidos son compatibles con la función ```complex()```.

In [ ]:
complex("23+5j")

In [ ]:
complex("23")

* El argumento de la siguiente celda es la representación de una expresión que al ser evaluada da por resultado un objeto de tipo ```complex```. Sin embargo, la función ```complex()``` no tiene la capacidad de evaluar expresiones, originándose un error de tipo ```ValueError```.

In [ ]:
complex("23 + 5j")

## La función ```bool()```.

Transforma en booleano a un objeto. 

```
bool(<objeto>)
```

Donde: 

* ```<objeto>```es el objeto que será convertido a un objeto de tipo ```bool```.

### Particularidades.

* El ```0``` equivale a ```False```.
* El valor```None``` equivale a ```False```.
* Una colección vacía equivale a ```False```.
* Cualquier otro objeto equivale a ```True```.

**Ejemplos:**

* Las siguientes celdas utlizarán la función ```bool()``` ingresando diversos objetos como argumento, los cuales darán por resultado ```True```.

In [ ]:
bool(-3)

In [ ]:
bool(2)

In [ ]:
bool((12, 4, 78))

In [ ]:
bool("Hola")

In [ ]:
bool("0")

In [ ]:
bool("False")

* Las siguientes celdas utlizarán la función ```bool()``` ingresando diversos objetos como argumento, los cuales darán por resultado ```False```.

In [ ]:
bool(0)

In [ ]:
bool("")

In [ ]:
bool({})

In [ ]:
bool([])

In [ ]:
bool(None)

## La función ```str()```.

La función ```str()```permite realizar transformaciones a objetos tipos ```str``` mediante las siguientes sintaxis:

### Transformación de objetos complatibles.

```
str(<objeto>)
```
Donde:

* ```<objeto>``` es un objeto compatible  función ```str()``` prácticamente todos los tipos básicos son compatibles con esta función y el resultado es una cadena de caracteres que reprtesenta al objeto en cuestión.


### Transformación de objetos de tipo ```bytes``` y ```bytearray```.

```
str(<objeto>, encoding=<codificación>)
```
Donde:

* ```<objeto>``` es un objeto  de tipo ```bytes``` o ```bytearray``` cuyo contenido será convertido a una cadena de caracteres.
* ```<codificación>``` corresponde al tipo de codificación a la que se convertirá la cadena de bytes. Por lo general es ```"utf-8"``` o ```"ascii" ```. En caso de que no se defina este argumento, el resultado será una representación del objeto.

**Ejemplos:**

* Las siguientes celdas regresará un objeto ```str``` con la representación de los objetos que se ingresan como argumentos.

In [ ]:
str(True)

In [ ]:
str(False)

In [ ]:
str(12 + 3.5j)

In [ ]:
str({'nombre': 'Juan'})

In [ ]:
str(None)

In [ ]:
str(b'Saludos')

* La siguiente celdas convertirá el contenido del objeto ```b'Saludos'``` en una cadena de caracteres usando la codificación *ASCII*.

In [ ]:
str(b'Saludos', encoding='ascii')

* La siguiente celdas convertirá el contenido del objeto ```bytearray(b'Saludos')``` en una cadena de caracteres usando la codificación *ASCII*.

In [ ]:
str(bytearray(b'Saludos'), encoding='ascii')

* La siguiente celdas convertirá el contenido del objeto ```b'G\xc3\xb6del'``` en una cadena de caracteres usando la codificación *UTF-8*.

In [ ]:
str(b'G\xc3\xb6del', encoding='utf-8')

* La siguiente celdas intentará convertir el contenido del objeto ```b'G\xc3\xb6del'``` en una cadena de caracteres usando la codificación *ASCII*. Sin embargo, debido a que dicha codificación no es compatible con el contenido, se desencadenar;a un error de tipo ```UnicodeError```.

In [ ]:
str(b'G\xc3\xb6del', encoding='ascii')

## La función ```bytes()```.

Transforma a un objeto que es ingresados como argumento en un objeto de tipo ```bytes```.

Las sintaxis son las siguiente:

```
bytes(<cadena>, encoding=<codificación>)
```
Donde:

* ```<cadena>``` es un objeto  de tipo ```str``` cuyo contenido será convertido a una cadena de bytes.
* ```<codificación>``` corresponde al tipo de codificación a la que se convertirá la cadena de caracteres. Por lo general es ```"utf-8"``` o ```"ascii" ```. En caso de que no se defina este argumento, se desencadenará un error de tipo ```UnicodeError```.

**Ejemplos:**

La siguiente celda regresará la representación en bytes del objeto ```'Saludos'``` usando la codificación *ASCII*.

In [ ]:
bytes('Saludos', encoding='ascii')

La siguiente celda regresará la representación en bytes del objeto ```'Gödel'``` usando la codificación *UTF-8*.

In [ ]:
bytes('Gödel', encoding='utf-8')

La siguiente celda regresará la representación en bytes del objeto ```'Gödel'``` usando la codificación *Latin-1*.

In [ ]:
bytes('Gödel', encoding='latin-1')

* La siguiente celda intentará realizar la representación en bytes del objeto ```'Gödel'``` usando la codificación *ASCII*. Sin embargo, dicha codificación no contiene un código para el caracter ```ö```, por lo que se generará un error de tipo ```UnicodeError```.

In [ ]:
bytes('Gödel', encoding='ascii')

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2020.</p>