[![pythonista.io](imagenes/pythonista.png)](https://www.pythonista.io)

# Expresiones con operadores en Python.

Los operadores son signos o palabras reservadas que el intérprete de Python identifica dentro de sus sintaxis para realizar una acción (operación) específica.

```
<objeto 1> <operador> <objeto 2>
```

```
<objeto 1> <operador 1> <objeto 2> <operador 2> .... <operador n-1> <objeto n> 
```

Donde:

* ```<objeto i>``` es un objeto compatible con el operador que lo relaciona con otro objeto.
* ```<operador i>``` es un operador válido.

**Ejemplos:**

Las siguientes celdas muestran ejemplos de expresiones con operadores.

In [ ]:
1 + 1

In [ ]:
15 * 4 + 1 / 3 ** 5

## Operadores aritméticos.

Los operadores arítmétricos permiten realizarf operaciones de esta índole con objetos numéricos.


|Operador|Descripción|
|:------:|:---------:|
|```+``` |Suma       |
|```-``` |Resta      |
|```*``` |Multiplicación|
|```**```|Exponente  |
|```/``` |División   |
|```//```|División entera|
|```%``` |Residuo    |

**Nota:** En Python 3, las divisiones entre objetos de tipo ```int``` dan por resultado un objeto tipo ```float```.


**Nota:** Aún cuando no afecta a la sintaxis, el uso de espacios entre los operadores aritméticos mejora la comprensión de las operaciones. Para mayor referencia remitirse al [PEP-8](https://www.python.org/dev/peps/pep-0008/).

**Ejemplos:**

* La siguiente celda contiene una expresión con el operador ```+```.

In [ ]:
3 + 2

* La siguiente celda contiene una expresión con el operador ```-```.

In [ ]:
3 - 2

* La siguiente celda contiene una expresión con el operador ```*```.

In [ ]:
3 * 2

* La siguiente celda contiene una expresión con el operador ```**``` que elevará ```3``` al cuadrado.

In [ ]:
3 ** 2

* La siguiente celda contiene una expresión con el operador ```**``` elevando ```3``` a una potencia fraccionaria.

In [ ]:
3 ** 0.5

* La siguiente celda contiene una expresión con el operador ```/```.

In [ ]:
3 / 2

* La siguiente celda contiene una expresión con el operador ```//```.

In [ ]:
3 // 2

* La siguiente celda contiene una expresión con el operador ```%```.

In [ ]:
3 % 2

### Reglas de precedencia en operaciones aritméticas.

Los operadores aritméticos se apegan a la siguiente regla de precedencia siguiendo un orden de izquierda a derecha:

1. Paréntesis.
2. Exponente.
3. Multiplicación.
4. División.
5. Suma.
6. Sustracción.

**Ejemplos:**

* La siguiente celda realizará una operación entre números enteros apegada a las reglas de precedencia descitas previamente:
   1. Se ejecutará ```4 ** 2```, lo que dará por resultado ```12 * 5 + 2 / 16```.
   * Se ejecutará ```12 * 5```, lo que dará por resultado ```60 + 2 / 16```.
   * Se ejecutará ```2 / 16```, lo que dará por resultado ```60 + 0.125```.

In [ ]:
12 * 5 + 2 / 4 ** 2

* Las siguientes celdas incluyen paréntesis, los cuales permiten agrupar las operaciones aritméticas.

In [ ]:
(12 * 5) + (2 / (4 ** 2))

In [ ]:
(12 * 5) + (2 / 4) ** 2

In [ ]:
(12 * (5 + 2) / 3) ** 2

### División entre enteros en Python 2.

En  Python 3 las divisiones entre objetos de tipo *int* dan como resultado un objeto de tipo *float*. En Python 2 las divisiones entre objetos de tipo *int* dan por resultado la parte entera de la división.

**Ejemplos:**

```
>>> 3 / 4
0
>>> 10 / 5
2
>>>
```

## Operadores para colecciones ordenadas.

Los objetos de tipo ```str```, ```bytes```, ```bytearray``` ```list``` y  ```tuple``` permiten utilizar los siguientes operadores.


|Operador|Descripción|
|:------:|:---------:|
|```+```     |Concatenación|
|```*```  |Repetición|

### El operador de concatenación ```+```.

Este operador se utiliza para unir una después de otra a colecciones del mismo tipo en una nueva colección.

```
<colección 1> + <colección 2>
```

**Ejemplos:**

* Las siguientes celdas ejemplifican operaciones válidas con el operador ```+```.

In [ ]:
"hola" + "mundo"

In [ ]:
[1, 2, 3] + ['uno', 'dos', 'tres']

* La siguiente celda intentará utilizar el operador ```+``` con colecciones que soportan a dicho operador pero son de distinto tipo, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
[1, 2, 3] + ('uno', 'dos', 'tres')

* La siguiente celda concatenará dos objetos de tipo ```tuple```.

In [ ]:
(1, 2, 3) + ('uno', 'dos', 'tres')

* La siguiente celda intentará utilizar el operador ```+``` con el objeto ```3``` que no soporta a dicho operador, lo cual desencadenará un error de tipo ```TypeError```.

In [ ]:
'hola' + 3

### El operador de repetición ```*```.

Este operador se utiliza para crear una colección que contiene el contenido de una colección que se repite un número determinado de veces.

```
<colección > * <n>
``` 

Donde:

* ```<n>``` es un objeto de tipo ```int``` con valor positivo.

**Ejemplos:**

* Las siguientes celdas ejemplificarán el uso del operador ```*``` para colecciones.

In [ ]:
1 * [1, 2, 3]

In [ ]:
'hola' * 3

In [ ]:
3 * 'hola'

In [ ]:
(None,) * 6

* La siguiente celda intentará aplicar el operador ```*``` a dos objetos de tipo ```list```, desencadenando un error de tipo ```TypeError```.

In [ ]:
[1, 2, 3] * [3]

## Operadores de asignación.

Los operadores de asignación se utilizan para enlazar a un nombre con un objeto/valor en el espacio de nombres.

El operador de asignación ```=``` es el más conocido, sin embargo existen otros operadores de asignación tales como:

|Operador|Expresión|Equivale a|
|:------:|:-----:|:-----------:|
|```=```|```x = y```|```x = y```|
|```+=```|```x += y```|```x = x + y```|
|```-=```|```x -= y```|```x = x - y```|
|```*=```|```x * = y```|```x = x * y```|
|```**=```|```x **= y```|```x = x ** y```|
|```/=```|```x /= y```|```x = x / y```|
|```//=```|```x //= y```|```x = x // y```|
|```%=```|```x %= y```|```x = x % y```|

Donde:

* ```x``` es  un nombre.
* ```y``` es un objeto complatible con el operador.

**Ejemplos:**

* La siguiente celda utilizará al operador ```=``` para asignarle el nombre ```x``` al objeto ```2```.

In [ ]:
x = 2

* La siguiente celda ejecutará una operación similar a ```x = x + 3```.

In [ ]:
x += 3

* Ahora ```x``` es ```5```.

In [ ]:
x

* La siguiente celda ejecutará una operación similar a ```x = x ** 3```.

In [ ]:
x **= 3

* Ahora ```x``` es ```125```.

In [ ]:
x

* La siguiente celda ejecutará una operación similar a ```x = x // 14.2```.

In [ ]:
x //= 14.2

* Ahora ```x``` es ```8.0```.

In [ ]:
x

* La siguiente celda ejecutará una operación similar a ```x = x % 1.5```.

In [ ]:
x %= 1.5

* Ahora ```x``` es ```0.5```.

In [ ]:
x

* La siguiente celda creará al objeto ```(1, 2, 3)``` al que se le asignará el nombre de ```tupla```.

In [ ]:
tupla = (1, 2, 3)

In [ ]:
id(tupla)

* La siguiente celda realizará una operación de concatenación usando el operador ```+```.

In [ ]:
tupla += ('cuatro', 'cinco', 'seis')

* Ahora ```tupla``` corresponde al objeto ```(1, 2, 3, 'cuatro', 'cinco', 'seis')```

In [ ]:
tupla

In [ ]:
id(tupla)

## Expresiones lógicas.

Las expresiones lógicas permiten evaluar una condición, la cual da por resultado un valor *Verdadero* (```True```) en caso de que dicha condición se cumpla o *Falso* (```False```) en caso de que no sea así.

### Operadores de evaluación. 

Estos operadores comparan dos expresiones. El resultado de esta evaluación es un objeto de tipo ```bool```.

|Operador|Evalúa          |
|:------:|:---------------|
|```==```    |```a == b``` ¿a igual a b?|
|```!=``` 	 |```a != b``` ¿a distinta de b?|
|```>```     |```a > b``` ¿a mayor que b?|
|```<``` 	 |```a < b``` ¿a menor que b?|
|```>=```    |```a >= b``` ¿a mayor o igual que b?|
|```<=```    |```a <= b``` ¿a menor o igual que b?|

**Ejemplos:**

* La siguiente celda evalúa si los valores de los objetos ```"hola"``` y ```'hola'``` son iguales. El resultado es ```True```.

In [ ]:
"hola" == 'hola'

* La siguiente celda evalúa si los valores de los objetos ```"hola"``` y ```'Hola'``` son distintos. El resultado es ```True```.

In [ ]:
"hola" != 'Hola'

* La siguiente celda evalúa si el valor de```5``` es mayor que ```3``` . El resultado es ```True```.

In [ ]:
5 > 3

* La siguiente celda evalúa si el valor de```5``` es menor o igual que ```3``` . El resultado es ```False```.

In [ ]:
5 <= 3

* La siguiente celda evalúa si el resultado de la expresión ```2 * 9 ** 0.5``` es igual a ```6``` . El resultado es ```True```.

In [ ]:
2 * 9 ** 0.5 == 6

* La siguiente celda evalúa si el resultado de la expresión ```(2 * 9) ** 0.5``` es igual a ```6``` . El resultado es ```False```.

In [ ]:
(2 * 9) ** 0.5 == 6

### Operadores de identidad.

Los operadores ```is``` e ```is not``` evalúan si un identificador se refiere exactamente al mismo objeto o pertenece a un tipo.

|Operador 	|Evalúa|
|:---------:|:----:|
|```is```       |```a is b``` Equivale a ```id(a) == id(b)```|
|```is not```   |```a is not b``` Equivale a ```id(a) != id(b)```|

**Ejemplos:**

* La siguiente celda le asignará los nombres ```a```y ```b``` al objeto ```45```.

In [ ]:
a = b = 45

* La siguiente celda evaluará si los nombres ```a``` y ```b``` hacen referencia al mismo objeto. El resultado es ```True```.

In [ ]:
a is b

* La siguiente celda evaluará si el resultado de la expresión ```type("Hola")``` es el objeto ```str```. El resultado es ```True```.

In [ ]:
type("Hola") is str

* La siguiente celda evaluará si el resultado de la expresión ```type("Hola")``` NO es el objeto ```complex```. El resultado es ```True```.

In [ ]:
type("Hola") is not complex

* Las siguientes celdas ilustran que ```True``` y ```1``` tienen el mismo valor, pero no son el mismo objeto.

In [ ]:
True == 1

In [ ]:
True is 1

### Operadores de pertenencia.

Los operadores ```in``` y ```not in``` evalúan si un objeto se encuentra dentro de una colección.


**Ejemplos:**

* La siguiente celda evaulará si el objeto ```'a'``` se encuentra dentro del objeto ```'Hola'```. El resultado es ```True```.

In [ ]:
'a' in 'Hola'

* La siguiente celda evaulará si el objeto ```'z'``` se encuentra dentro del objeto ```'Hola'```. El resultado es ```False```.

In [ ]:
'z' in 'Hola'

* La siguiente celda evaulará si el objeto ```'la'``` NO se encuentra dentro del objeto ```'Hola'```. El resultado es ```False```.

In [ ]:
'la' not in 'Hola'

* La siguiente celda evaulará si el objeto ```'z'``` NO se encuentra dentro del objeto ```'Hola'```. El resultado es ```True```.

In [ ]:
'z' not in 'Hola'

### Álgebra booleana y tablas de la verdad.

El álgebra booleana o [Algebra de Boole](https://es.wikipedia.org/wiki/%C3%81lgebra_de_Boole) es una rama de las matemáticas que permite crear estructuras lógicas mendiante valores booleanos. 

En el caso de Python, los objetos de tipo ```bool```, ```True``` y ```False```, son los valores con los que se pueden realizar operaciones con lógica booleana.

### Operaciones booleanos.

Un operación booleana permite definir un operador lógico, el cual relaciona a dos valores booleanos con un valor específico.

### Tablas de la verdad.

Son tablas que describen los posibles resultados de aplicar un operador a dos valores booleanos.

#### El operador lógico ```OR```.

Este operador da por resultado ```True``` en caso de que al menos uno de los valores sea ```True```. Solamente regresa ```False``` si ambos valores son ```False```.

|OR| True|False|
|:--:|:--:|:--:|
|**True**|True|True|
|**False**|True|False|

Este operador corresponde a la palabra reservada ```or``` en Python.

```
<valor 1> or <valor 2>
```

Donde:

* ```<valor 1>``` y ```<valor 2>``` son generalmente valores de tipo ```bool```.

#### El operador lógico ```AND```.

Este operador dar por resultado ```True``` en caso de que ambos valores sean ```True```. El resultado es ```False``` en los demás casos.

|AND| True|False|
|:--:|:--:|:--:|
|**True**|True|False|
|**False**|False|False|

Este operador corresponde a la palabra reservada ```and``` en Python.

```
<valor 1> and <valor 2>
```

Donde:

* ```<valor 1>``` y ```<valor 2>``` son generalmente valores de tipo ```bool```.

### El operador ```NOT```.

El operador ```NOT``` hace que el valor booleano a su derecha inmediata cambie al valor contrario.

Este operador corresponde a la palabra reservada ```not``` en Python.

```
not <valor>
```

Donde:

* ```<valor>``` es un valor de tipo ```bool```.

### El operador ```XOR```.

Este operador dar por resultado ```True``` en caso de que ambos valores sean distintos. El resultado es ```False``` en casos de que ambos valores sean iguales.

|XOR| True|False|
|:--:|:--:|:--:|
|**True**|False|True|
|**False**|True|False|

No hay un operador lógico en Python para ```XOR```.

### Operadores lógicos de Python.

Estos operadores permiten la realización de las siguientes operaciones lógicas. Por lo general se realizan con objetos de tipo ```bool```, pero Python también permite operaciones lógicas con otros tipos de datos y expresiones. 

|Operador|Evalúa|
|:------:|:----:|
|```or```    |*a or b* ¿Se cumplen a o b?|
|```and``` 	 |*a and b* ¿Se comple a y b?|
|```not```|*not x* Contrario a x|


**Nota:** Las operaciones lógicas se ejecutan de izquierda a derecha, pero pueden ser agrupadas usando paréntesis.

**Ejemplos:**

* La expresión de la siguiente celda dará por resultado ```True```.

In [ ]:
True or True

* La expresión de la siguiente celda dará por resultado ```True```.

In [ ]:
False or True

* La expresión de la siguiente celda dará por resultado ```False```.

In [ ]:
False or False

* La expresión de la siguiente celda dará por resultado ```False```.

In [ ]:
False and False

* La expresión de la siguiente celda dará por resultado ```True```.

In [ ]:
True and True

* La expresión de la siguiente celda dará por resultado ```False```.

In [ ]:
not True

* La expresión de la siguiente celda dará por resultado ```True```.

In [ ]:
not False or True

* La expresión de la siguiente celda dará por resultado ```False```.

In [ ]:
not (False or True)

* La siguiente celda evalúa primero la expresión ```15 == 3``` y el resultado es el valor que el operador ```or``` utilizará.

In [ ]:
15 == 3 or False

* La siguiente celda evalúa primero las expresiones ```15 > 3``` y  ```15 <= 20``` el resultado de cada una será usado por el operador```and```.

In [ ]:
15 > 3 and 15 <= 20


### Operadores lógicos relacionados con otros objetos de Python. 

Es posible usar los operadores lógicos de Python con otros objetos que no sean de tipo ```bool``` bajo las siguientes premisas:

* El ```0``` equivale a ```False```.
* El valor```None``` equivale a ```False```.
* Una colección vacía equivale a ```False```.
* Cualquier otro objeto equivale a ```True```.

**Nota:** En algunos casos, el resultado de estas operaciones no es un valor de tipo ```bool```.

**Ejemplos:**

* La expresión de la siguiente celda da por resultado ```False```.

In [ ]:
None or False

* La expresión de la siguiente celda da por resultado ```True```.

In [ ]:
True or None

* La siguiente celda dará por resultado ```0```.

In [ ]:
True and 0

* Para que el resultado de la expresión de la celda anterior sea de tipo ```bool``` es necesario convertirla explícitamente con la función ```bool()```.

In [ ]:
bool(True and 0)

* La expresión de la siguiente celda regresará ```123```.

In [ ]:
'Hola' and 123

* La expresión de la siuiente celda regresará ```'Hola'```.

In [ ]:
123 and 'Hola'

## Operadores de bits.

Las operaciones de bits son cálculos que implican a cada bit que conforma a un número representado de forma binaria.

Los operadores de bits ```|```, ```^``` y ```&``` realizan operaciones idénticas a los operadores lógicos, pero para cada bit.


|Operador    | Descripción |
|:----------:|:-----------:|
| ```\|```|OR    |
| ```^``` | XOR    |
| ```&``` | AND    |  
| ```<<``` | Mover x bits a la izquierda  |
| ```>>``` | Mover x bits a la iderecha   |

### Tablas de operadores de bits.

| \||1|0|
|:--:|:--:|:--:|
|**1**|1|1|
|**0**|1|0|

|^|1|0|
|:--:|:--:|:--:|
|**1**|0|1|
|**0**|1|0|

|&|1|0|
|:--:|:--:|:--:|
|**1**|1|0|
|**0**|0|0|

**Ejemplos:**

* Se definirán los objetos ```a``` con valor igual a ```13```y ```b``` con valor igual a ```26```.

In [ ]:
a = 0b01101
b = 0b11010

In [ ]:
a

In [ ]:
b

* Se utilizará el operador ```|``` para cada bit de ```a``` y ```b```. La operación es la siguiente:

```
a = 01101
b = 11010
|   ______
    11111

```

El resultado es ```31```.

In [ ]:
a | b

In [ ]:
0b11111

* Se utilizará el operador ```^``` para cada bit de ```a``` y ```b```. La operación es la siguiente:

```
a = 01101
b = 11010
^  ______
    10111

```

El resultado es ```23```.

In [ ]:
a ^ b

In [ ]:
0b10111

* Se utilizará el operador ```&``` para cada bit de ```a``` y ```b```. La operación es la siguiente:

```
a = 01101
b = 11010
&   ______
    01000

```

El resultado es ```8```.

In [ ]:
a & b

In [ ]:
0b01000

* La siguiente celda moverá los bits de ```a```, 3 posiciones a la izquierda. Es decir, añádirá 3 ceros a la derecha de su representación binaria de la siguiente forma.

```
a = 01101
a << 3
01101000
```
El resultado es ```104```.

In [ ]:
a << 3

In [ ]:
0b01101000

* La siguiente celda moverá los bits de ```b```, 2 posiciones a la derfecha. Es decir, eliminará las 2 últimas posiciones a la derecha de su representación binaria de la siguiente forma.

```
b = 11010
b >> 2
110
```
El resultado es ```6```.

In [ ]:
b >> 2

In [ ]:
0b110

### Operadores de bits con objetos de tipo ```bool```.

Los operadores de bits también pueden ser usados para crear expresiones que implica an objetos de tipo ```bool```.

**Ejemplos:**

* En la expresión de la siguiente celda, el operador ```|``` se comporta como ```or```. El resultado es ```True```.

In [ ]:
True | False

* En la expresión de la siguiente celda, el operador ```|``` se comporta como ```and```. El resultado es ```False```.

In [ ]:
True & False

* La siguiente celda da por resultado ```False```.

In [ ]:
True ^ True

* Las expresiónes de las siguientes celdas toman a ```True``` como a ```1```.

In [ ]:
True >> 2

In [ ]:
True << 4

## Operador ternario.

El operador ternario evalúa una expresión lógica con una sintaxis como la que se describe a continuación.

```
<expresión 1> if <expresión lógica> else <expresión 2>

```

Donde:

* ```<expresión lógica>``` es una expresión lógica.
* ```<expresion 1>``` es la expresión que se ejecutará en caso de que la expresión lógica de pro resultado ```True```.
* ```<expresion 2>``` es la expresión que se ejecutará en caso de que la expresión lógica de pro resultado ```False```.

**Ejemplo:**

* Se le asginará al objeto ```1126```el nombre ```numero```.

In [ ]:
numero = 1126

* El residuo de dividir ```numero``` entre ```2``` es cero. Esto implica que ```numero``` es par.

In [ ]:
numero % 2

* La expresión lógica ```numero % 2 == 0``` da por resultado ```True```.

In [ ]:
numero % 2 == 0

* La siguiente expresión utiliza un operador ternario que regresa la cadena de caracteres ```"par"``` en caso de que el objeto con nombre ```numero``` sea divisible entre ```2``` o rergesará la cadena de caracteres ```"non"``` en caso contrario.

In [ ]:
"par" if numero % 2 == 0 else "non"

## Operador de atributo.

En vista de que todo es un objeto en Python, es posible acceder a los atributos y métodos de un objeto mediante el operador de atributo el cual corresponde a un punto ```.```.

### Atributos.

En el paradigma de programación orientada a objetos, un atributo es un valor que está asociado a un objeto mediante un nombre. En el caso de Python, los atributos son objetos asociados a un objeto mediante a un nombre.

Para acceder al atributo de un objeto se utiliza la siguiente sintaxis:

```
<objeto>.<atributo>
```

Donde:

* ```<objeto>``` es cualquier objeto de Python.
* ```<atributo>``` es el nombre de un aributo que posee el objeto.

### Métodos.

Los métodos son una especie de atributo, pero con la capacidad de ejecutar ciertas instrucciones del mismo modo que una función.

Para poder ejecutar un método se usa la siguiente sintaxis:

```
<objeto>.<método>(<argumento 1>, <argumento 2>,..., <argumento n>)
```

Donde:

* ```<objeto>``` es cualquier objeto de Python.
* ```<atributo>``` es el nombre de un método que posee el objeto.
* ```<argumento i>``` es un objeto que se ingresa al método para que pueda ser ejecutado. Un método puede no requerir argumentos.

**Ejemplos:**

* Los objetos de tipo ```complex``` contiene a los atributos:
    * ```real```, el cual corresponde a un objeto de tipo ```float``` que contiene al valor del componente real del número complejo.
    * ```imag```, el cual corresponde a un objeto de tipo ```float``` que contiene al valor del componente imaginario del número complejo.
* Del mismo modo,  los objetos de tipo ```complex``` contiene el método ```conjugate()```, el cual calcula y regresa al número complejo conjugado, el cual también es de tipo  ```complex```.

* La siguiente celda regresará el atributo ```real``` del objeto ```(15-23j)``` de tipo ```complex```. El resultado es ```15.0```.

In [ ]:
(15-23j).real

* La siguiente celda regresará el atributo ```imag``` del objeto ```(15-23j)``` de tipo ```complex```. El resultado es ```-23.0```.

In [ ]:
(15-23j).imag

* El método ```(15-13j).conjugate``` es de tipo ```function```.

**Nota:** Las funciones (objetos de tipo ```function```) se estudiarán mas adelante.

In [ ]:
(15-13j).conjugate

* La siguiente celda regresará el número conjugado del objeto ```(15-23j)``` ejecutando el método ```conjugate()```. El resultado es ```(15+23j)```.

In [ ]:
(15-23j).conjugate()

* Los objetos de tipo ```float``` cuentan con el método ```__int__()```, el cual regresa el valor entero trunco del objeto de tipo ```float``` como un objeto de tipo ```int```.
    * La siguiente celda ejecutará el método ```__int__()``` del objeto ```-12.3```. El resultado es ```-12```.

In [ ]:
-12.3.__int__()

* Los objetos de tipo ```float``` e ```int``` cuentan con el método ```__abs__()```, el cual regresa el valor absoluto del objeto.
    * La siguiente celda ejecutará el método ```__abs__()``` del objeto ```-12```. El resultado es ```12```.

In [ ]:
(-12).__abs__()

### Concatenacion de atributos.

El operador ```.``` puede utilizarse con la siguiente sintaxis.

```
<objeto>.<atributo 1>.<atributo 2>. ... .<atributo n>
```

Donde:

* ```<atributo i>``` puede ser un atributo/método que se aplica al objeto que regrese la invocación o ejecución del atributo/método previo.

**Ejemplo:**

* La siguiente celda realizará lo siguiente:
    * Obtendrá el atributo ```real``` del objeto ```(-15.456-13.23j)``` el cual será el objeto de tipo ```float``` cuyo valor es de ```-15.456```.
    * A partir del atributo ```(-15.456-13.23j).real``` se ejecutará el método ```__int__()```, el cual regresará al objeto de tipo ```int``` cuyo  valor es de ```-15```.
    * A partir del resultado de ejecutar el método ```(-15.456-13.23j).real.__int__()```, se ejecutará el método ```__abs__()``` el cual regresará al objeto de tipo ```int``` cuyo valor es de ```15```.

In [ ]:
(-15.456-13.23j).real.__int__().__abs__()

## La función ```eval()```.

La función ```eval()``` evalúa un objeto de tipo ```str``` como si fuera una expresión.

```
eval(<objeto tipo str>)
```

Si el texto a evaluar no es una expresión válida, ```eval()``` generará un mensaje de error.

**Ejemplos:**

* Las siguientes celdas ejemplifican el uso de la función ```eval()```.

In [ ]:
eval("12 * 300")

In [ ]:
eval("0x11 + 0x10010")

In [ ]:
eval("12 > 5")

In [ ]:
eval("type('Hola')")

In [ ]:
eval("print('hola')")

* La expresión dentro de la cadena de caracteres que se ingresa como argumento para la función ```eval()``` en la siguiente celda hace referencia al nombre ```indefinido```, el cual no está definido y se desencadenará un error de tipo ```NameError```.

In [ ]:
eval("indefinido * 3")

* La cadena de caracteres usada como argumento para la función ```eval()``` en la siguiente celda no es una expresión válida y se generará un error de tipo ```SyntaxError```.

In [ ]:
eval("Hola Mundo")

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2022.</p>