[![imagenes](imagenes/pythonista.png)](https://pythonista.mx)

# Objetos tipo _set_ y _frozenset_.

Existen colecciones de objetos en Python que permiten realizar operaciones con conjuntos. Son un grupo de objetos únicos y no ordenados.
Estos tipos de datos no son indexables y por lo tanto tampoco se pueden rebanar.

## Diagramas de Venn.
Para ilustrar de mejor manera los conceptos relacionados con conjuntos se  utilizarán diagramas de Venn y su relación entre 2 conjuntos genéricos.
![imagenes/conjuntos.png](imagenes/conjuntos.png)

## Objetos tipo _set_.

### Definición de un objeto tipo _set()_.

Los elementos contenidos en un objeto tipo _set_ deben ser de de tipo inmutable.

Los objetos tipo _set_ se definen mediante el uso de llaves "*{*", "*}*", pero a diferencia de los objetos de tipo _dict_, sólo se ingresan una sucesión de objetos inmutables.

La función _set()_ a la cual se le ingresa un objeto iterable.

``` 
set(<objeto iterable>)
```
**Ejemplos:**

In [1]:
{1, 'dos', 3.0, '4'}

{1, 3.0, '4', 'dos'}

In [2]:
{2, 2., 1 + 1, "dos"}

{2, 'dos'}

In [3]:
set({'id_1': 3, 'id_2': 4, 'id_3': 5, 'id_4': 6})

{'id_1', 'id_2', 'id_3', 'id_4'}

In [4]:
{[[12, 3, 27], [True, 60]]}

TypeError: unhashable type: 'list'

In [5]:
set([[12, 3, 27], [True, 60]])

TypeError: unhashable type: 'list'

In [6]:
{(12, 3, 27), (True, 60)}

{(True, 60), (12, 3, 27)}

## Métodos del tipo _set_.

### Métodos de manipulación de objetos tipo set.
#### _add()_.
Añade un elemento que se ingresa como argumento al objeto tipo _set_. Si ya hay un objeto equivalente, no se agrega uno nuevo.

**Ejemplos:**

In [7]:
conjunto = {1, 'dos', 3.0, '4'}

In [8]:
conjunto.add(True)

In [9]:
conjunto

{1, 3.0, '4', 'dos'}

In [10]:
conjunto.add(False)

In [11]:
conjunto

{1, 3.0, '4', False, 'dos'}

#### _remove()_.
Busca y elimina al elemento que se ingresa como argumento. En caso de no encontrarlo, envía un mensaje de error.

**Ejemplos:**

In [12]:
conjunto = {1, 'dos', 3.0, '4'}

In [13]:
conjunto.remove(3)

In [14]:
conjunto

{1, '4', 'dos'}

In [15]:
conjunto.remove(3)

KeyError: 3

#### _discard()_.
Busca y elimina al elemento que se ingresa como argumento. En caso de no encontrarlo, no regresa nada.

**Ejemplos:**

In [16]:
conjunto = {1, 'dos', 3.0, '4'}

In [17]:
conjunto.discard(3)

In [18]:
conjunto

{1, '4', 'dos'}

In [19]:
conjunto.discard(3)

#### _pop()_.
Regresas y elimina un elemento del objeto tipo _set_. Cuando ya no existen elementos, se generan un error de tipo _KeyError_

**Ejemplos:**

In [20]:
conjunto = {1, 'dos', 3.0, '4'}

In [21]:
conjunto.pop()

1

In [22]:
conjunto

{3.0, '4', 'dos'}

In [23]:
conjunto.pop()

'dos'

In [24]:
conjunto

{3.0, '4'}

In [25]:
conjunto.pop()

3.0

In [26]:
conjunto

{'4'}

In [27]:
conjunto.pop()

'4'

In [28]:
conjunto

set()

In [29]:
conjunto.pop()

KeyError: 'pop from an empty set'

#### _copy()_.
Regresa una copia exacta del objeto contenido en el objeto tipo _set_. Es similar al rebanado completo de los objetos tipo _list_.

**Ejemplo:**

In [30]:
conjunto = {1, 'dos', 3.0, '4'}

In [31]:
otro_conjunto = conjunto.copy()

In [32]:
id(conjunto)

139747634112104

In [33]:
id(otro_conjunto)

139747634112328

In [34]:
otro_conjunto

{1, 3.0, '4', 'dos'}

#### _clear()_.
Elimina todos los elementos del objeto tipo _set_.

**Ejemplo:**

In [35]:
{1, 'dos', 3.0, '4'}
conjunto

{1, 3.0, '4', 'dos'}

In [36]:
conjunto.clear()
conjunto

set()

### Métodos de evaluación de conjuntos.

**Nota:** Los diagramas de Venn ilustran los casos en los que la evaluación da por resultado _True_.

#### _isdisjoint()_.
Evalúa si dos conjuntos no se intersectan. Si no existen elementos compartidos entre el objeto tipo _set_ al que pertenece el método y el objeto _set_ que se ingresa  como argumento, se regresa el valor _True_. De lo contrario se regresa _False_.

![imagenes/isdisjoint.png](imagenes/isdisjoint.png)

**Ejemplos:**

In [37]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}
conjunto_c = {5, 6, 7}

In [38]:
conjunto_a.isdisjoint(conjunto_b)

False

In [39]:
conjunto_a.isdisjoint(conjunto_c)

True

#### _issubset()_.
Si el objeto tipo _set_ al que pertenece el método es subconjunto del objeto _set_ que se ingresa como argumento, se regresa el valor _True_. De lo contrario se regresa _False_.

![imagenes/issubset.png](imagenes/issubset.png)

**Ejemplos:**

In [40]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {1, 2, 4}
conjunto_c = {1}

In [41]:
conjunto_a.issubset(conjunto_b)

False

In [42]:
conjunto_b.issubset(conjunto_a)

True

In [43]:
conjunto_c.issubset(conjunto_a)

True

#### _issuperset()_.
Si el objeto tipo _set_ que se ingresa como argumento es subconjunto del objeto tipo _set_ al que pertenece el método, se regresa el valor _True_. De lo contrario se regresa _False_.


![imagenes/issuperset.png](imagenes/issuperset.png)

**Ejemplos:**

In [44]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {1, 2, 4}
conjunto_c = {1}

In [45]:
conjunto_a.issuperset(conjunto_b)

True

In [46]:
conjunto_b.issuperset(conjunto_a)

False

In [47]:
conjunto_c.issuperset(conjunto_a)

False

### Métodos de operaciones con conjuntos.

#### _union()_.
Regresa el resultado de la unión del objeto tipo _set_ al que pertenece el método y el objeto tipo _set_ que se ingresa como argumento.

![imagenes/union.png](imagenes/union.png)

**Ejemplo:**

In [ ]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}
conjunto_c = {5, 6, 7}

In [48]:
conjunto_a.union(conjunto_b)

{1, 2, 3, 4}

In [49]:
conjunto_a.union(conjunto_c)

{1, 2, 3, 4}

#### _update()_.
Sustituye al objeto tipo _set_ con el resultado de la unión de dicho objeto con el objeto tipo _set_ que se ingresa como argumento.

**Ejemplos:**

In [50]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}
conjunto_c = {5, 6, 7}

In [51]:
conjunto_a.update(conjunto_b)

In [52]:
conjunto_a

{1, 2, 3, 4, 5, 6}

In [53]:
conjunto_a.update(conjunto_c)
conjunto_a

{1, 2, 3, 4, 5, 6, 7}

#### _difference()_.
Regresa el resultado de la diferencia entre el objeto tipo _set_ al que pertenece el método y el objeto tipo _set_ que se ingresa como argumento.

![imagenes/difference.png](imagenes/difference.png)

**Ejemplos:**

In [55]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}
conjunto_c = {5, 6, 7}

In [56]:
conjunto_a.difference(conjunto_b)

{1, 2}

In [57]:
conjunto_a.difference(conjunto_c)

{1, 2, 3, 4}

#### *difference\_update()*.

Sustituye al objeto tipo _set_ al que pertenece el método con la diferencia entre dicho objeto y el objeto tipo _set_ que se ingresa como argumento.

**Ejemplos:**

In [58]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}

In [59]:
conjunto_a.difference_update(conjunto_b)

In [60]:
conjunto_a

{1, 2}

#### *intersection()*.
Regresa el resultado de la intersección entre el objeto tipo _set_ al que pertenece el método y el objeto tipo _set_ que se ingresa como argumento.

![imagenes/intersection.png](imagenes/intersection.png)


**Ejemplos:**

In [61]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}

In [62]:
conjunto_a.intersection(conjunto_b)

{3, 4}

#### *intersection_update()*.
Sustituye al objeto tipo _set_ al que pertenece el método con la intersección entre dicho objeto y el objeto tipo _set_ que se ingresa como argumento.
**Ejemplos:**

In [63]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}

In [64]:
conjunto_a.intersection_update(conjunto_b)
conjunto_a

{3, 4}

#### *symmetric\_difference()*.
Regresa el resultado de la diferencia simétrica entre el objeto tipo _set_ al que pertenece el método y el objeto tipo _set_ que se ingresa como argumento.

![imagenes/symmetric_difference.png](imagenes/symmetric_difference.png)

**Ejemplos:**

In [65]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}

In [66]:
conjunto_a.symmetric_difference(conjunto_b)

{1, 2, 5, 6}

#### *symmetric\_difference\_update()*.
Sustituye al objeto tipo _set_ al que pertenece el método con la diferencia simétrica entre dicho objeto y el objeto tipo _set_ que se ingresa como argumento.

**Ejemplos:**

In [67]:
conjunto_a = {1, 2, 3, 4}
conjunto_b = {3, 4, 5, 6}

In [68]:
conjunto_a.symmetric_difference_update(conjunto_b)
conjunto_a

{1, 2, 5, 6}

## Objetos tipo _frozenset_.

Los objetos de tipo frozenset representan conjuntos que no pueden ser modificados una vez que son definidos.

### Definición de un objeto tipo _frozenset_.

Los objetos tipo _frozenset_ se definen mediante la función _frozenset()_ a la cual se le ingresa un objeto iterable.

``` 
frozenset(<objeto iterable>)
```
**Ejemplo:**

In [69]:
frozenset([1, 'dos', 3.0, '4'])

frozenset({1, 3.0, '4', 'dos'})

In [70]:
frozenset({2, 2., 1 + 1, "dos"})

frozenset({2, 'dos'})

In [71]:
frozenset({'id_1': 3, 'id_2': 4, 'id_3': 5, 'id_4': 6})

frozenset({'id_1', 'id_2', 'id_3', 'id_4'})

### Métodos del tipo _frozenset_.

El tipo _frozenset_ cuentan con los siguientes métodos, los cuales son similares a los de tipo _set_.

* _copy()_.
* _issubset()_.
* _isdisjoint()_.
* _issuperset()_.
* _union()_.
* _difference()_.
* _intersection()_.
* *symmetric_difference()*.

## Iteración con  *for* ... *in* para objetos _set_ y _frozenset_ .

**Ejemplo:**

In [72]:
for elemento in {1, 2, 3, 4}:
    print(elemento)

1
2
3
4

## Funciones útiles con los objetos tipo _set_ y tipo _frozenset_. 

### La función _len()_.

La función _len()_ devuelve el número de objetos contenidos en una colección de objetos mediante la siguiente sintaxis:

```
len(<objeto>)
```

**Ejemplo:**

In [73]:
len({1, 2, 3, 4, 5})

5

In [74]:
len(frozenset(('gato', 'perro', True)))

3

In [75]:
len({(('automóvil', 50, 'gasolina'), ('autobús', 300, 'diesel'))})

1

In [76]:
len({})

0

### La función _max()_.

La función _max()_ devuelve el elemento de mayor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
max(<objeto>)
```

**Ejemplos:**

In [77]:
max({1, 2, 3, 4, 5})

5

In [78]:
max({'gato', 'perro', True})

TypeError: '>' not supported between instances of 'str' and 'bool'

In [79]:
max({'gato', 'perro', 'canario'})

'perro'

### La función _min()_.

La función _min()_ devuelve el elemento de menor valor contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
min(<objeto>)
```

**Ejemplos:**

In [80]:
min({1, 2, 3, 4, 5})

1

In [81]:
min({'gato', 'perro', True})

TypeError: '<' not supported between instances of 'str' and 'bool'

In [ ]:
min({'gato', 'perro', 'canario'})

### La función _sum()_.

La función _sum()_ devuelve la suma los elementos contenido en una colección, siempre y cuando dichos objetos sean compatibles, mediante la siguiente sintaxis:
  
```
sum(<objeto>)
```

**Ejemplos:**

In [ ]:
sum({1, 2, 3, 4, 5})

In [ ]:
sum({'gato', 'perro', True})

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2018.</p>